# Firebase Configuration
VITE_FIREBASE_API_KEY=your_api_key_here
VITE_FIREBASE_AUTH_DOMAIN=your_project.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=your_project_id
VITE_FIREBASE_STORAGE_BUCKET=your_project.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=your_sender_id
VITE_FIREBASE_APP_ID=your_app_id

# Push Notifications
VITE_VAPID_PUBLIC_KEY=BEzrNrUzrHbH1BCanMSKCGeqbJBBRmaJqq6YWosCanotZc2TRIG8z8n0Q36QzZoijdyVtY2Qxrcz4l6M4h62ELw